{% extends 'bookshelf/base.html' %}
{% load static %}

{% block title %}{{ author.name }}{% endblock %}

{% block body %}
  <a href="{% url 'bookshelf:author-update' author.id %}">
    <button class="btn btn-default" type="button">Edit</button>
  </a>

  <form action="{% url 'bookshelf:author-delete' author.id %}" method="post" style="display: inline">
    {% csrf_token %}
    <input type="hidden" name="author_id" value="{{ author.id }}">
    <button class="btn btn-danger" type="submit">
      Delete
    </button>
  </form>


  <h1>{{ author.name }}</h1>
  <p>{{ author.about }}</p>
  {% if author.book_set.all %}
    <h2>Books:</h2>
    <table class="table table-bordered table-hover">
      <tbody>
      {% for book in author.book_set.all %}
        <tr>
          <td><a href="{% url 'bookshelf:book' book.id %}">{{ book.title }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>We don't have books of this Author</h2>
  {% endif %}



{% endblock %}
