{% extends 'bookshelf/base.html' %}

{% block title %}Authors{% endblock %}

{% block body %}

  <form method="post" action="{% url 'bookshelf:author-add' %}">
    {% csrf_token %}
    <button class="btn btn-default">Add</button>
  </form><br>

  {% if object_list %}
    <table class="table table-hover table-bordered">
      <tbody>
      {% for author in object_list %}
        <tr>
          <td><a href="{% url 'bookshelf:author' author.pk %}">{{ author.name }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h3>There's no Authors yet</h3>
  {% endif %}

{% endblock %}
