{% extends 'bookshelf/base.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}
{% block body %}

  <a class="btn btn-default " href="{% url 'bookshelf:book-update' book.id %}">Edit</a>

  <form action="{% url 'bookshelf:book-delete' book.id %}" method="post" style="display: inline">{% csrf_token %}
    <input type="hidden" name="book-id" value="{{ book.id }}">
    <button class="btn btn-danger">
      Delete
    </button>
  </form>

  <h1>{{ book.title }}
    <small> by <a style="text-decoration: none" href="{% url 'bookshelf:author' book.author.id %}">{{ book.author.name }}</a></small>
  </h1>

  <p>{{ book.description }}</p>

{% endblock %}