{% extends 'bookshelf/base.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}
{% block body %}

  <form method="post" action="{% url 'bookshelf:book-update' book.id %}" style="display: inline">
    {% csrf_token %}
    <button class="btn btn-default">Edit</button>
  </form>


  <form action="{% url 'bookshelf:book-delete' book.id %}" method="post" style="display: inline">
    {% csrf_token %}
    <input type="hidden" name="book-id" value="{{ book.id }}">
    <button class="btn btn-danger">
      Delete
    </button>
  </form>

  <h1>{{ book.title }}
    <small> by {{ book.author.name }}</small>
  </h1>

  <p>{{ book.description }}</p>

{% endblock %}