{% extends 'bookshelf/base.html' %}

{% block title %}Books{% endblock %}

{% block body %}

  <a href="{% url 'bookshelf:book-add' %}">
    <button class="btn btn-default" type="submit">Add</button>
  </a><br><br>

  {% if books %}
    <table class="table table-bordered table-hover">
      <tbody>
      {% for book in books %}
        <tr>
          <td><a href="{% url 'bookshelf:author' book.author.id %}">{{ book.author }}</a></td>
          <td><a href="{% url 'bookshelf:book' book.id %}">{{ book.title }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h3>There're not any books yet</h3>
  {% endif %}


{% endblock %}
