{% extends 'base.html' %}


{% block body %}

  <a class="btn btn-default " href="{% url 'bookshelf:book-add' %}">Add</a><br><br>

  {% if object_list %}
    <table class="table table-bordered table-hover">
      <tbody>
      {% for book in object_list %}
        <tr>
          <td>
            <a href="{% url 'bookshelf:book' book.id %}">{{ book.title }}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h3>There're not any books yet</h3>
  {% endif %}

{% endblock %}
