{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ author.name }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    {% if author.photo %}
        <img src="{{ author.photo.url }}">
    {% else %}
        <img src="{% static 'bookshelf/images/no-image.png' %}">
    {% endif %}
    <h1>{{ author.name }}</h1>
    {% if author.book_set %}
        <h2>Written by:</h2>
        <ul>
            {% for book in author.book_set.all %}
                <li>{{ book.title }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>We don't have books of this Author</h2>
    {% endif %}
</body>
</html>